<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Iniciar Sesión</div>
                <div class="card-body">
                    <form autocomplete="off" [formGroup]="loginForm">
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">Usuario</label>
                            <div class="col-md-6">
                                <input autocomplete="off" class="form-control"
                                    [ngClass]="!loginForm.get('correo')?.valid && (loginForm.get('correo')?.dirty || loginForm.get('correo')?.touched) ? 'is-invalid' : 'is-valid'"
                                    formControlName="correo" id="input-username" type="text" placeholder="Usuario"
                                    required autofocus>
                                <br>
                                <div class="error-messages">
                                    <ng-container *ngFor="let error of errorMessages.correo">
                                        <div class="error-message"
                                            *ngIf="loginForm.get('correo')?.hasError(error.type) && (loginForm.get('correo')?.dirty || loginForm.get('username')?.touched)">
                                            {{ error.message }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                            <div class="col-md-6">
                                <input autocomplete="off" type="password" class="form-control"
                                    [ngClass]="!loginForm.get('password')?.valid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) ? 'is-invalid' : 'is-valid'"
                                    formControlName="password" id="input-password" placeholder="Contraseña">
                                <br>
                                <div class="error-messages">
                                    <ng-container *ngFor="let error of errorMessages.password">
                                        <div class="error-message"
                                            *ngIf="loginForm.get('password')?.hasError(error.type) && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                                            {{ error.message }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6 offset-md-4 m">
                            <button type="button" [disabled]="!loginForm.valid" (click)="submit()"
                                class="btn btn-primary">
                                Iniciar Sesión
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>