<div class="cotainer">
    <app-modal [message]="errorService" [modal]="formModal"></app-modal>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Listado de productos</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Titulo</th>

                                    <th scope="col">Descripción</th>

                                    <th scope="col">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of listProducts">
                                    <td>
                                        <a [routerLink]="['/detalle', element.id]">
                                            {{ element.title }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ element.description }}
                                    </td>
                                    <td>
                                        {{ element.price }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>