<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Detalle del Producto</title>
</head>

<body>
    <div class="container">
        <div class="product-details">
            <h1>{{producto.name}}</h1>
            <p>{{producto.description}}</p>
        </div>
        <div class="quantity">
            <p>Cantidad:</p>
            <div class="quantity-select">
                <button class="decrement" (click)="disminuirCantidad()">-</button>
                <input type="number" min="1" max="10" [(ngModel)]="cantidad" disabled="true">
                <button class="increment" (click)="aumentarCantidad()">+</button>
            </div>
            <p>Total: {{producto.price * cantidad}}.000</p>
        </div>
    </div>
</body>

</html>