.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.product-details {
    width: 50%;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity p {
    margin: 0;
}

.quantity-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-select input {
    margin: 0 10px;
    text-align: center;
}

.quantity-select button {
    width: 30px;
    height: 30px;
    background-color: #6ECA94;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.quantity-select button:hover {
    background-color: #369361;
}

.quantity-select button:active {
    background-color: #369361;
}

.quantity p:last-child {
    font-weight: bold;
}