#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d > #backgroundBox {
  position: absolute;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Panel_1 {
  width: 355.50000000000045px;
  height: 658.9504089355469px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_7 {
  position: absolute;
  width: 332.0px;
  height: 2.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_8 {
  position: absolute;
  width: 332.0px;
  height: 2.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_9 {
  position: absolute;
  width: 332.0px;
  height: 2.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_10 {
  position: absolute;
  width: 332.0px;
  height: 2.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_26 {
  position: absolute;
  width: 168.79736328125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_26 span {
  color: #92A398;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #92A398;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_27 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Ellipse_5 {
  width: 34.0px;
  height: 34.0px;
  min-height: 34.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_11 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_11 {
  position: absolute;
  width: 36.00000000000006px;
  height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_28 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_28 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_12 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_12 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_12 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_12 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_23 {
  position: absolute;
  width: 168.79736328125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_23 span {
  color: #92A398;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #92A398;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_24 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_24 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Ellipse_4 {
  width: 34.0px;
  height: 34.0px;
  min-height: 34.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_6 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_10 {
  position: absolute;
  width: 33.999999999999886px;
  height: 34.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_25 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_25 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_11 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_11 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_11 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_11 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_20 {
  position: absolute;
  width: 168.79736328125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_20 span {
  color: #92A398;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #92A398;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_21 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Ellipse_3 {
  width: 34.0px;
  height: 34.0px;
  min-height: 34.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_5 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_9 {
  position: absolute;
  width: 33.999999999999886px;
  height: 34.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_22 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_22 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_10 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_10 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_10 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_10 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_17 {
  position: absolute;
  width: 168.79736328125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_17 span {
  color: #92A398;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #92A398;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_18 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Ellipse_2 {
  width: 34.0px;
  height: 34.0px;
  min-height: 34.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_4 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_8 {
  position: absolute;
  width: 33.999999999999886px;
  height: 34.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_19 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_9 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_9 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_9 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_9 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_16 {
  position: absolute;
  width: 168.79736328125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_16 span {
  color: #92A398;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #92A398;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_14 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Ellipse_1 {
  width: 34.0px;
  height: 34.0px;
  min-height: 34.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_3 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_7 {
  position: absolute;
  width: 33.999999999999886px;
  height: 34.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_15 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_8 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_8 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_8 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Image_8 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Panel_2 {
  width: 332.49999999999966px;
  height: 44.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_4 {
  position: absolute;
  width: 87.99999999999977px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.087262032186418px 4.999238475781956px 15px rgba(174,186,202,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_4 span {
  color: #6ECA94;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_4 {
  position: absolute;
  width: 88.0px;
  height: 34.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_3 {
  position: absolute;
  width: 88.0px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.087262032186418px 4.999238475781956px 15px rgba(174,186,202,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_3 span {
  color: #6ECA94;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_3 {
  position: absolute;
  width: 88.0px;
  height: 34.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_2 {
  position: absolute;
  width: 88.0px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.087262032186418px 4.999238475781956px 15px rgba(174,186,202,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_2 span {
  color: #6ECA94;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_2 {
  position: absolute;
  width: 87.99999999999994px;
  height: 34.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_1 {
  position: absolute;
  width: 90.0px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.087262032186418px 4.999238475781956px 15px rgba(174,186,202,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_1 span {
  color: #6ECA94;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_1 {
  position: absolute;
  width: 90.0px;
  height: 37.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_13 {
  position: absolute;
  width: 138.37998962402344px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_13 span {
  color: #369361;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #369361;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_38 {
  position: absolute;
  width: 19.010910034179688px;
  height: 15.124763488769531px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_5 {
  position: absolute;
  width: 28.0px;
  height: 23.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rect_10 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rect_11 {
  position: absolute;
  width: 23.0px;
  height: 12.333332061767578px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_46 {
  position: absolute;
  width: 1.328033447265625px;
  height: 4.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rect_12 {
  position: absolute;
  width: 18.0px;
  height: 7.333332061767578px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_47 {
  position: absolute;
  width: 15.27239990234375px;
  height: 10.965570449829102px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_55 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_34 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_5 {
  position: absolute;
  width: 375.0px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(9.184850993605148E-16px -5.0px 13px rgba(192,192,192,0.5));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_1 {
  position: absolute;
  width: 22.191192626953125px;
  height: 22.078994750976562px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_2 {
  position: absolute;
  width: 24.69999885559082px;
  height: 21.83045768737793px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_12 {
  position: absolute;
  width: 4.4110260009765625px;
  height: 3.25775146484375px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_13 {
  position: absolute;
  width: 4.4110260009765625px;
  height: 3.25775146484375px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_14 {
  position: absolute;
  width: 5.09368896484375px;
  height: 1.0276031494140625px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_15 {
  position: absolute;
  width: 4.413238525390625px;
  height: 3.262176513671875px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_16 {
  position: absolute;
  width: 5.09368896484375px;
  height: 1.027587890625px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_17 {
  position: absolute;
  width: 6.15673828125px;
  height: 1.027587890625px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_18 {
  position: absolute;
  width: 18.55877685546875px;
  height: 26.0px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_19 {
  position: absolute;
  width: 24.670612335205078px;
  height: 9.844337463378906px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Path_20 {
  position: absolute;
  width: 19.23041534423828px;
  height: 12.12615966796875px;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d #s-Hotspot_6 {
  position: absolute;
  width: 28.0px;
  height: 23.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3c7bb3f0-1584-4b54-9478-0503c8fb7b3d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}