#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 > #backgroundBox {
  position: absolute;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Button_2 {
  position: absolute;
  width: 307.9999999999993px;
  min-height: 49.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Button_2 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_14 {
  position: absolute;
  width: 312.75px;
  height: 2.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_15 {
  position: absolute;
  width: 312.75px;
  height: 2.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_16 {
  position: absolute;
  width: 312.75px;
  height: 2.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_24 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_24 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_28 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: right;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_28 span {
  color: #3A4B40;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_26 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_26 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_29 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: right;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_29 span {
  color: #3A4B40;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_25 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_25 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_30 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: right;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_30 span {
  color: #3A4B40;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_27 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_31 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: right;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_31 span {
  color: #3A4B40;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_23 {
  position: absolute;
  width: 138.37998962402344px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_23 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 14.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 14.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rectangle_1 {
  position: absolute;
  width: 309.0px;
  min-height: 51.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.087262032186418px 4.999238475781956px 15px rgba(174,186,202,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_5 span {
  color: #3A4B40;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_7 {
  position: absolute;
  width: 19.96123695373535px;
  height: 14.970947265625px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_11 {
  position: absolute;
  width: 4.9095306396484375px;
  height: 10.415115356445312px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_12 {
  position: absolute;
  width: 3.7427444458007812px;
  height: 3.7427520751953125px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_13 {
  position: absolute;
  width: 3.74273681640625px;
  height: 3.7427520751953125px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Hotspot_2 {
  position: absolute;
  width: 309.99999999999966px;
  height: 51.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_17 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_8 {
  position: absolute;
  width: 312.75px;
  height: 2.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_9 {
  position: absolute;
  width: 312.75px;
  height: 2.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_10 {
  position: absolute;
  width: 312.75px;
  height: 2.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_14 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_15 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Ellipse_1 {
  width: 29.0px;
  height: 29.0px;
  min-height: 29.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_1 {
  position: absolute;
  width: 11.5px;
  height: 11.5px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Ellipse_2 {
  width: 29.0px;
  height: 29.0px;
  min-height: 29.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #6ECA94;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_2 {
  position: absolute;
  width: 10.0px;
  height: 1.6666669845581055px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_20 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_16 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Ellipse_3 {
  width: 29.0px;
  height: 29.0px;
  min-height: 29.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_3 {
  position: absolute;
  width: 11.5px;
  height: 11.5px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Ellipse_4 {
  width: 29.0px;
  height: 29.0px;
  min-height: 29.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #6ECA94;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_4 {
  position: absolute;
  width: 10.0px;
  height: 1.6666669845581055px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_21 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_18 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_19 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Ellipse_5 {
  width: 29.0px;
  height: 29.0px;
  min-height: 29.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_5 {
  position: absolute;
  width: 11.5px;
  height: 11.5px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_6 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Ellipse_6 {
  width: 29.0px;
  height: 29.0px;
  min-height: 29.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #6ECA94;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_6 span {
  color: #6ECA94;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_6 {
  position: absolute;
  width: 10.0px;
  height: 1.6666669845581055px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_22 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_22 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_38 {
  position: absolute;
  width: 19.010910034179688px;
  height: 15.124763488769531px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Hotspot_1 {
  position: absolute;
  width: 25.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_13 {
  position: absolute;
  width: 138.37998962402344px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_13 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rect_10 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rect_11 {
  position: absolute;
  width: 23.0px;
  height: 12.333332061767578px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_46 {
  position: absolute;
  width: 1.328033447265625px;
  height: 4.0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Rect_12 {
  position: absolute;
  width: 18.0px;
  height: 7.333332061767578px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_47 {
  position: absolute;
  width: 15.27239990234375px;
  height: 10.965570449829102px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Path_55 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_34 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4f9fd77c-bae8-4fda-aa9d-c518459d6ba0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}