#s-848251df-7b33-4931-8c53-144ed897ff21 > #backgroundBox {
  position: absolute;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Path_3 {
  position: absolute;
  width: 10.999999046325684px;
  height: 6.814460754394531px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_14 span {
  color: #369361;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #369361;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Button_2 {
  position: absolute;
  width: 310.9999999999998px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Button_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_5 {
  position: absolute;
  width: 262.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_5 span {
  color: #3A4B40;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.0pt;
  line-height: 24px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.0pt;
  line-height: 24px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_19 {
  position: absolute;
  width: 292.0136718749998px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: center;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_19 span {
  color: #3A4B40;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Path_1 {
  position: absolute;
  width: 147.04640197753906px;
  height: 137.44044494628906px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Ellipse_1 {
  width: 62.94018294624783px;
  height: 62.94018294624783px;
  min-height: 62.94018294624783px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 10.0px;
  stroke: #FFFFFF;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #10CA88;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Path_23 {
  position: absolute;
  width: 22.40243911743164px;
  height: 17.23264503479004px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Rect_5 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Rect_6 {
  position: absolute;
  width: 23.0px;
  height: 12.333332061767578px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Path_39 {
  position: absolute;
  width: 1.328033447265625px;
  height: 4.0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Rect_8 {
  position: absolute;
  width: 18.0px;
  height: 7.333332061767578px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Path_40 {
  position: absolute;
  width: 15.27239990234375px;
  height: 10.965570449829102px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Path_41 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 #s-Hotspot_1 {
  position: absolute;
  width: 106.85346984863281px;
  height: 19.407226562499886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-848251df-7b33-4931-8c53-144ed897ff21 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}