#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 > #backgroundBox {
  position: absolute;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Button_1 {
  position: absolute;
  width: 310.9999999999998px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Button_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_14 {
  position: absolute;
  width: 312.75px;
  height: 2.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_15 {
  position: absolute;
  width: 312.75px;
  height: 2.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_16 {
  position: absolute;
  width: 312.75px;
  height: 2.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_4 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 9.75pt;
  letter-spacing: 3.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 9.75pt;
  letter-spacing: 3.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_4 {
  position: absolute;
  width: 14.000001907348633px;
  height: 8.419281005859375px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_2 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 9.75pt;
  letter-spacing: 3.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 9.75pt;
  letter-spacing: 3.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_3 {
  position: absolute;
  width: 14.000001907348633px;
  height: 8.419281005859375px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 input::-webkit-input-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 input::-moz-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 input:-moz-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 input:-ms-input-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 {
  position: absolute;
  width: 308.99999999999966px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 input {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #369361;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #369361;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #369361;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #369361;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_2 .paddingLayer {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 59px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_24 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_25 {
  position: absolute;
  width: 33.0px;
  height: 22.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_26 {
  position: absolute;
  width: 5.0px;
  height: 4.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Polygon_1 {
  position: absolute;
  width: 3.7289352416992188px;
  height: 8.39215087890625px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_27 {
  position: absolute;
  width: 8.090091705322266px;
  height: 8.380828857421875px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_28 {
  position: absolute;
  width: 6.880954742431641px;
  height: 8.659332275390625px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_29 {
  position: absolute;
  width: 8.234405517578125px;
  height: 8.38641357421875px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_30 {
  position: absolute;
  width: 33.0px;
  height: 3.965545654296875px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_31 {
  position: absolute;
  width: 33.0px;
  height: 4.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_32 {
  position: absolute;
  width: 3.0px;
  height: 22.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 input::-webkit-input-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 input::-moz-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 input:-moz-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 input:-ms-input-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 {
  position: absolute;
  width: 308.99999999999966px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 input {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_3 .paddingLayer {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 59px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Image_3 .imageViewport > * {
  width: 151.45751022668398%;
  height: 99.99999999999982%;
  left: -25.70062450721588%;
  top: -0.0%;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Image_3 {
  position: absolute;
  width: 42.69544897396156px;
  height: 26.63340296787146px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 input::-webkit-input-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 input::-moz-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 input:-moz-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 input:-ms-input-placeholder {
  color: #3A4B40;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 {
  position: absolute;
  width: 308.99999999999966px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 input {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Input_4 .paddingLayer {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 59px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Image_2 {
  position: absolute;
  width: 35.0px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_5 {
  position: absolute;
  width: 14.000001907348633px;
  height: 8.419281005859375px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_3 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 9.75pt;
  letter-spacing: 3.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 9.75pt;
  letter-spacing: 3.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_38 {
  position: absolute;
  width: 19.010910034179688px;
  height: 15.124763488769531px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Hotspot_1 {
  position: absolute;
  width: 22.0px;
  height: 25.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_13 {
  position: absolute;
  width: 138.37998962402344px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_13 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Rect_5 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Rect_6 {
  position: absolute;
  width: 23.0px;
  height: 12.333332061767578px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_23 {
  position: absolute;
  width: 1.328033447265625px;
  height: 4.0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Rect_8 {
  position: absolute;
  width: 18.0px;
  height: 7.333332061767578px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_39 {
  position: absolute;
  width: 15.27239990234375px;
  height: 10.965570449829102px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Path_40 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8d1c6733-a7e9-4eca-9ab2-1f5297476b92 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}