#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 > #backgroundBox {
  position: absolute;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_8 {
  position: absolute;
  width: 312.0px;
  min-height: 54.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_8 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Hotspot_2 {
  position: absolute;
  width: 311.9999999999999px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 input::-webkit-input-placeholder {
  color: #92A398;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 input::-moz-placeholder {
  color: #92A398;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 input:-moz-placeholder {
  color: #92A398;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 input:-ms-input-placeholder {
  color: #92A398;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 {
  position: absolute;
  width: 121.82146864480734px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 input {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D8DEEC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D8DEEC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D8DEEC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D8DEEC;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_4 {
  position: absolute;
  width: 72.53157336990398px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_4 span {
  color: #369361;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #369361;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 input::-webkit-input-placeholder {
  color: #92A398;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 input::-moz-placeholder {
  color: #92A398;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 input:-moz-placeholder {
  color: #92A398;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 input:-ms-input-placeholder {
  color: #92A398;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 {
  position: absolute;
  width: 121.82146864480711px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 input {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D8DEEC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D8DEEC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D8DEEC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D8DEEC;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_2 {
  position: absolute;
  width: 72.53157336990364px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_2 span {
  color: #369361;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #369361;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_1 {
  position: absolute;
  width: 108.52734375000031px;
  min-height: 56.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_1 span {
  color: #92A398;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
  letter-spacing: 3.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #92A398;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
  letter-spacing: 3.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_4 {
  position: absolute;
  width: 103.99999999999989px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_4 span {
  color: #6ECA94;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_3 {
  position: absolute;
  width: 90.6666666666668px;
  min-height: 32.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_3 span {
  color: #6ECA94;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_2 {
  position: absolute;
  width: 96.66666666666663px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_2 span {
  color: #6ECA94;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_1 {
  position: absolute;
  width: 114.66666666666663px;
  min-height: 33.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #6ECA94;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #6ECA94;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #6ECA94;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #6ECA94;
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_1 span {
  color: #6ECA94;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_33 span {
  color: #92A398;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
  letter-spacing: 3.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: #92A398;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
  letter-spacing: 3.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Line_15 {
  position: absolute;
  width: 374.5px;
  height: 1.5px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Path_4 {
  position: absolute;
  width: 18.571491241455078px;
  height: 17.5px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_43 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_43 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_43 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_43 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 13.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_43 span#rtr-s-Paragraph_43_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 13.5pt;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Hotspot_3 {
  position: absolute;
  width: 93.49316406250034px;
  height: 30.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Path_1 {
  position: absolute;
  width: 19.010910034179688px;
  height: 15.124763488769531px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Hotspot_1 {
  position: absolute;
  width: 25.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_42 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_42 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_42 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_42 span {
  color: #369361;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_42 span#rtr-s-Paragraph_42_0 {
  color: #369361;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Rect_10 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Rect_11 {
  position: absolute;
  width: 23.0px;
  height: 12.333332061767578px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Path_46 {
  position: absolute;
  width: 1.328033447265625px;
  height: 4.0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Rect_12 {
  position: absolute;
  width: 18.0px;
  height: 7.333332061767578px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Path_47 {
  position: absolute;
  width: 15.27239990234375px;
  height: 10.965570449829102px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Path_55 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_34 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-97d2b188-bcf3-4297-ab84-fd191db0eec5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}