#s-b20b41a2-1830-489f-b3ec-907b5c55442b > #backgroundBox {
  position: absolute;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_9 {
  position: absolute;
  width: 238.0532226562501px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_9 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_9 span#rtr-s-Paragraph_9_1 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_9 span#rtr-s-Paragraph_9_2 {
  color: #6ECA94;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 11.25pt;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Button_1 {
  position: absolute;
  width: 312.0px;
  min-height: 54.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #369361;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Button_1 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 input::-webkit-input-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 input::-moz-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 input:-moz-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 input:-ms-input-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 {
  position: absolute;
  width: 307.9999999999996px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 .valign {
  vertical-align: middle;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 input {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D8DEEC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D8DEEC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D8DEEC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D8DEEC;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_5 {
  position: absolute;
  width: 91.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_5 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 input::-webkit-input-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 input::-moz-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 input:-moz-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 input:-ms-input-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 {
  position: absolute;
  width: 307.9999999999996px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 .valign {
  vertical-align: middle;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 input {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D8DEEC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D8DEEC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D8DEEC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D8DEEC;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_2 {
  position: absolute;
  width: 71.0px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_2 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 input::-webkit-input-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 input::-moz-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 input:-moz-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 input:-ms-input-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 {
  position: absolute;
  width: 307.9999999999996px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 .valign {
  vertical-align: middle;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 input {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D8DEEC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D8DEEC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D8DEEC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D8DEEC;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_4 {
  position: absolute;
  width: 71.0px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_4 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 input::-webkit-input-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 input::-moz-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 input:-moz-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 input:-ms-input-placeholder {
  color: #92A398;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 {
  position: absolute;
  width: 307.9999999999996px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 .valign {
  vertical-align: middle;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 input {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D8DEEC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D8DEEC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D8DEEC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D8DEEC;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_1 {
  position: absolute;
  width: 166.99999999999977px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_1 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_3 {
  position: absolute;
  width: 246.00000000000006px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_3 span {
  color: #250A82;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #250A82;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_28 {
  position: absolute;
  width: 210.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_28 span {
  color: #369361;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #369361;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Path_7 {
  position: absolute;
  width: 19.010910034179688px;
  height: 15.124763488769531px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Rect_5 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Rect_6 {
  position: absolute;
  width: 23.0px;
  height: 12.333332061767578px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Path_8 {
  position: absolute;
  width: 1.328033447265625px;
  height: 4.0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Rect_7 {
  position: absolute;
  width: 18.0px;
  height: 7.333332061767578px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Path_9 {
  position: absolute;
  width: 15.27239990234375px;
  height: 10.965570449829102px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Path_10 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Hotspot_1 {
  position: absolute;
  width: 24.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Hotspot_2 {
  position: absolute;
  width: 86.99999999999994px;
  height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b #s-Hotspot_3 {
  position: absolute;
  width: 312.00000000000006px;
  height: 56.07281384563714px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b20b41a2-1830-489f-b3ec-907b5c55442b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}