#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb > #backgroundBox {
  background-color: #6ECA94;
  position: absolute;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Panel_7 {
  width: 346.00000183406837px;
  height: 632.0039062500001px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Panel_7 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_58 {
  position: absolute;
  width: 155.0px;
  height: 219.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Mask_3 {
  position: absolute;
  width: 157.0px;
  height: 221.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_19 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_26 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_26 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_43 {
  position: absolute;
  width: 11.834726333618164px;
  height: 11.29937744140625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Mask_1 {
  position: absolute;
  width: 157.0px;
  height: 221.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_57 {
  position: absolute;
  width: 155.0px;
  height: 219.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_18 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_25 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_25 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_42 {
  position: absolute;
  width: 11.834726333618164px;
  height: 11.29937744140625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Mask_2 {
  position: absolute;
  width: 157.0px;
  height: 221.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_55 {
  position: absolute;
  width: 155.0px;
  height: 219.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 11.25pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 11.25pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_21 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_41 {
  position: absolute;
  width: 11.834726333618164px;
  height: 11.29937744140625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Mask_5 {
  position: absolute;
  width: 157.0px;
  height: 221.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_61 {
  position: absolute;
  width: 155.0px;
  height: 219.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_20 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 12.75pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_30 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_30 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_45 {
  position: absolute;
  width: 11.834726333618164px;
  height: 11.29937744140625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_14 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_8 {
  position: absolute;
  width: 5.000030517578125px;
  height: 9.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Hotspot_2 {
  position: absolute;
  width: 99.00000000000011px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Panel_5 {
  width: 324.0000305175782px;
  height: 137.46875000000006px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_4 {
  position: absolute;
  width: 87.99999999999989px;
  min-height: 106.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.087262032186418px 4.999238475781956px 15px rgba(174,186,202,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_8 span {
  color: #26315F;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_13 {
  position: absolute;
  width: 40.184444427490234px;
  height: 35.499996185302734px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Circle_2 {
  position: absolute;
  width: 3.766693115234375px;
  height: 3.7768402099609375px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Circle_3 {
  position: absolute;
  width: 3.76678466796875px;
  height: 3.7768402099609375px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Circle_4 {
  position: absolute;
  width: 3.766693115234375px;
  height: 3.7768325805664062px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Circle_5 {
  position: absolute;
  width: 3.766693115234375px;
  height: 3.7768325805664062px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_3 {
  position: absolute;
  width: 88.0px;
  min-height: 106.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.087262032186418px 4.999238475781956px 15px rgba(174,186,202,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_7 span {
  color: #26315F;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Circle_1 {
  position: absolute;
  width: 1.709564208984375px;
  height: 1.717193603515625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_11 {
  position: absolute;
  width: 33.813690185546875px;
  height: 43.763736724853516px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_12 {
  position: absolute;
  width: 16.454376220703125px;
  height: 1.71295166015625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_2 {
  position: absolute;
  width: 88.0px;
  min-height: 106.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.087262032186418px 4.999238475781956px 15px rgba(174,186,202,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_6 span {
  color: #3A4B40;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_10 {
  position: absolute;
  width: 35.5px;
  height: 37.66249084472656px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_1 {
  position: absolute;
  width: 88.0px;
  min-height: 106.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.087262032186418px 4.999238475781956px 15px rgba(174,186,202,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_5 {
  position: absolute;
  width: 58.3037109375px;
  min-height: 22.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_5 span {
  color: #3A4B40;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_9 {
  position: absolute;
  width: 39.5px;
  height: 39.519081115722656px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_13 {
  position: absolute;
  width: 138.37998962402338px;
  min-height: 22.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans Typewriter',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_13 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans Typewriter',Arial;
  font-size: 14.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Lucida Sans Typewriter',Arial;
  font-size: 14.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 input::-webkit-input-placeholder {
  color: #3A4B40;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 input::-moz-placeholder {
  color: #3A4B40;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 input:-moz-placeholder {
  color: #3A4B40;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 input:-ms-input-placeholder {
  color: #3A4B40;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 {
  position: absolute;
  width: 345.0000018340681px;
  height: 44.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 .valign {
  vertical-align: middle;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 input {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D8DEEC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D8DEEC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D8DEEC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D8DEEC;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_44 {
  position: absolute;
  width: 16.378402709960938px;
  height: 16.2760009765625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_15 {
  position: absolute;
  width: 20.290420532226562px;
  height: 4.785499572753906px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_16 {
  position: absolute;
  width: 20.290420532226562px;
  height: 4.785491943359375px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_17 {
  position: absolute;
  width: 20.290420532226562px;
  height: 4.785491943359375px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Hotspot_1 {
  position: absolute;
  width: 30.226586263407683px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_15 span {
  color: #3A4B40;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #3A4B40;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_50 {
  position: absolute;
  width: 28.466670989990234px;
  height: 2.88848876953125px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_51 {
  position: absolute;
  width: 28.466670989990234px;
  height: 2.88848876953125px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_52 {
  position: absolute;
  width: 14.795083999633789px;
  height: 2.88848876953125px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rect_10 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rect_11 {
  position: absolute;
  width: 23.0px;
  height: 12.333332061767578px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_46 {
  position: absolute;
  width: 1.328033447265625px;
  height: 4.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rect_12 {
  position: absolute;
  width: 18.0px;
  height: 7.333332061767578px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_47 {
  position: absolute;
  width: 15.27239990234375px;
  height: 10.965570449829102px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_53 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_5 {
  position: absolute;
  width: 375.0px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(9.184850993605148E-16px -5.0px 13px rgba(192,192,192,0.5));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_14 {
  position: absolute;
  width: 22.191192626953125px;
  height: 22.078994750976562px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_6 {
  position: absolute;
  width: 24.69999885559082px;
  height: 21.83045768737793px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_3 {
  position: absolute;
  width: 4.4110260009765625px;
  height: 3.25775146484375px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_4 {
  position: absolute;
  width: 4.4110260009765625px;
  height: 3.25775146484375px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_5 {
  position: absolute;
  width: 5.09368896484375px;
  height: 1.0276031494140625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_7 {
  position: absolute;
  width: 4.413238525390625px;
  height: 3.262176513671875px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_18 {
  position: absolute;
  width: 5.09368896484375px;
  height: 1.027587890625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_19 {
  position: absolute;
  width: 6.15673828125px;
  height: 1.027587890625px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_20 {
  position: absolute;
  width: 18.55877685546875px;
  height: 26.0px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_1 {
  position: absolute;
  width: 24.670612335205078px;
  height: 9.844337463378906px;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb #s-Path_2 {
  position: absolute;
  width: 19.23041534423828px;
  height: 12.12615966796875px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ed6b85e8-10f9-4d25-9976-358166e8fcbb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}