
<div class="row">
  <div class="col">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">{{ emailLabel }}</label>
              <input type="email" [(ngModel)]="userName" [name]="emailName" [class]="classInputEmail" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">{{ passLabel}}</label>
              <input type="password" [(ngModel)]="passValue" name='password' class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" (click)="onClickSaveUser()" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col">
          <app-list-user
            [setNewRegister]="register">
          </app-list-user>
        </div>
      </div>
  </div>

</div>
</div>
