<div class="cotainer">
    <app-modal [message]="errorService" [modal]="formModal"></app-modal>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Registro</div>
                <div class="card-body">
                    <form id="register-form" method="post" role="form" [formGroup]="registerForm">
                        <div class="form-group m-t">
                            <input
                                [ngClass]="!registerForm.get('firstName')?.valid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched) ? 'is-invalid' : 'is-valid'"
                                formControlName="firstName" type="text" name="firstName" id="firstName" tabindex="1"
                                class="form-control" placeholder="Primer nombre" value="" required autofocus>
                        </div>
                        <div class="error-messages">
                            <ng-container *ngFor="let error of errorMessages.firstName ">
                                <div class="error-message"
                                    *ngIf="registerForm.get('firstName')?.hasError(error.type) && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>
                        <br>
                        <div class="form-group m-t">
                            <input
                                [ngClass]="!registerForm.get('lastName')?.valid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched) ? 'is-invalid' : 'is-valid'"
                                formControlName="lastName" type="text" name="lastName" id="lastName" tabindex="1"
                                class="form-control" placeholder="Apellidos" value="" required autofocus>
                        </div>
                        <div class="error-messages">
                            <ng-container *ngFor="let error of errorMessages.lastName ">
                                <div class="error-message"
                                    *ngIf="registerForm.get('lastName')?.hasError(error.type) && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>
                        <br>
                        <div class="form-group m-t">
                            <input
                                [ngClass]="!registerForm.get('email')?.valid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched) ? 'is-invalid' : 'is-valid'"
                                formControlName="email" type="email" name="email" id="email" tabindex="1"
                                class="form-control" placeholder="Correo electronico" value="" required autofocus>
                        </div>
                        <div class="error-messages">
                            <ng-container *ngFor="let error of errorMessages.email ">
                                <div class="error-message"
                                    *ngIf="registerForm.get('email')?.hasError(error.type) && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>
                        <br>
                        <div class="form-group m-t">
                            <input
                                [ngClass]="!registerForm.get('password')?.valid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) ? 'is-invalid' : 'is-valid'"
                                formControlName="password" type="password" name="password" id="password" tabindex="2"
                                class="form-control" placeholder="Contraseña" required autofocus>
                        </div>
                        <div class="error-messages">
                            <ng-container *ngFor="let error of errorMessages.password ">
                                <div class="error-message"
                                    *ngIf="registerForm.get('password')?.hasError(error.type) && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>
                        <br>
                        <div class="form-group m-t">
                            <input
                                [ngClass]="!registerForm.get('confirm')?.valid && (registerForm.get('confirm')?.dirty || registerForm.get('confirm')?.touched) ? 'is-invalid' : 'is-valid'"
                                formControlName="confirm" type="password" name="confirm-password" id="confirm-password"
                                tabindex="2" class="form-control" placeholder="Confirmar contraseña" required autofocus>
                        </div>
                        <br>
                        <div class="error-messages">
                            <ng-container *ngFor="let error of errorMessages.confirm">
                                <div class="error-message"
                                    *ngIf="registerForm.get('confirm')?.hasError(error.type) && (registerForm.get('confirm')?.dirty || registerForm.get('confirm')?.touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>
                        <br>
                        <div class="form-group m-t">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit"[disabled]="!registerForm.valid" (click)="submit()" name="register-submit" id="register-submit"
                                        tabindex="4" class="btn btn-primary" value="Crear cuenta">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>